body {
    background-color: darkblue;
}
h1 {
    font-size: 40px;
    color: white;
}
#info {
    color: white;
    font-size: 15px;    
}
.topic {
    color: green;
    font-size: 30px;
}
.jobs {
    color: white;
    font-size: 25px;
}
.work {
    color: white;
    font-size: 15px;
}
address {
    color: red;
    font-size: 15px;    
}